name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:
  workflow_call:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
      - run: gleam deps download
        working-directory: cli
      - run: npm install --omit=dev
        working-directory: cli
      - run: gleam build
        working-directory: cli
      - run: gleam test
        working-directory: cli
      - run: gleam format --check src test
        working-directory: cli

  e2e-test:
    needs: unit-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
      - run: gleam deps download && gleam build
        working-directory: cli
      - run: npm install --omit=dev
        working-directory: cli
      - run: node --test e2e/**/*.test.mjs
        working-directory: cli
